/* 面包屑 */
.ive-bread-crumb {
  padding: 0 24px;
  margin: 12px 0;
}

/* 日期范围选择器 */
.ive-date-range .separator {
  margin: 0 10px;
}

/* 分页 */
.ive-pager {
  margin-top: 20px;
}

/* 加载圈 */
.ive-spin {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: hsla(0,50%,100%,.9);
}

/* 表格 */
.ive-table .ivu-btn {
  margin-right: 5px;
}
.ive-table .ivu-btn:last-child {
  margin-right: 0;
}
