/* 面包屑 */
.ive-bread-crumb {
  padding: 0 24px;
  margin: 12px 0;
}

/* 日期范围选择器 */
.ive-date-range .separator {
  margin: 0 10px;
}

/* 分页 */
.ive-pager {
  margin-top: 20px;
}

/* 条件查询表单 */
.ive-filter-form {
  padding: 10px 20px;
  background: #f5f7f9;
}
.ive-filter-form .ivu-btn-primary {
  margin-right: 5px;
}
.ive-filter-form .ivu-form-item {
  margin-bottom: 12px;
}
.ive-filter-form .ivu-form-item-label:after {
  content: '：';
  display: inline-block;
  line-height: 1;
}
.ive-filter-form .ivu-form-item-label {
  padding-right: 0;
}
.ive-filter-form .button-wrapper {
  display: inline-block;
}

/* 编辑表单 */
.ive-edit-form {
  margin-right: 1em;
}
.ive-edit-form .hide {
  display: none;
}
.ive-edit-form .toggle-button {
  text-align: center;
  cursor: pointer;
}
.ive-edit-form .toggle-button:hover {
  color: #57a3f3;
}
.ive-edit-form .hidePart-wrapper {
  display: none;
}
.ive-edit-form .hidePart-wrapper.show {
  display: block;
}
.ive-edit-form .ivu-form-item-label:after {
  content: '：';
  display: inline-block;
  line-height: 1;
}
.ive-edit-form .ivu-form-item-label {
  padding-right: 0;
}
.ive-edit-form .ivu-form-item-content {
  display: flex;
  align-items: center;
}
.ive-edit-form .ivu-input-number {
  min-width: 50%;
}
/* form-item */
.ive-form-item:last-child {
  margin-bottom: 4px;
}
.ive-form-item .inline-tip {
  color: #858585;
  margin-left: 5px;
}

/* 提示图标 */
.ive-tooltip {
  margin-left: 5px;
  font-size: 16px;
  color: #0e72db;
  cursor: pointer;
}
.ive-tooltip .ivu-tooltip-popper {
  transform: translateY(8px);
}
.ive-filter-form .ive-tooltip {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  z-index: 1;
}

/* 模态框 */
.ive-edit-modal .ivu-modal {
  top: 10vh;
}
.ive-edit-modal .ivu-modal-content {
  max-height: 80vh;
  display: flex;
  flex-direction: column;
}
.ive-edit-modal .ivu-modal-content .ivu-modal-body {
  position: relative;
  overflow: auto;
}

/* 加载圈 */
.ive-spin {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: hsla(0,50%,100%,.9);
}

/* 表格 */
.ive-table .ivu-btn {
  margin-right: 5px;
}
.ive-table .ivu-btn:last-child {
  margin-right: 0;
}
.ive-table .add-button-wrapper {
  padding: 5px 10px;
  background-color: #f5f7f9;
}

/* 确认弹窗 */
.ivu-modal-confirm-body b {
  margin: 5px;
}

/* 导入数据弹窗 */
.ive-import-modal .ivu-modal-footer {
  text-align: center;
}
.ive-import-modal .file-wrapper {
  line-height: 24px;
}
.ive-import-modal .file-wrapper .delete {
  float: right;
}

/* 无数据 */
.ive-no-data {
  color: #aaa;
}

/* 上传文件 */
.ive-upload .fileUrl {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}