/* 面包屑 */
.ive-bread-crumb {
  padding: 0 24px;
  margin: 12px 0;
}

/* 日期范围选择器 */
.ivu-date-picker.range-picker {
  display: block;
  width: 100%;
}
.ive-date-range .separator {
  margin: 0 10px;
}

/* 分页 */
.ive-pager {
  margin-top: 20px;
}

/* 条件查询表单 */
.ive-filter-form {
  padding: 20px 20px 10px;
  background: #f5f7f9;
}
.ive-filter-form.ivu-form-inline {
  padding-top: 20px;
}
.ive-filter-form .ivu-btn-primary {
  margin-right: 5px;
}
.ive-filter-form .ivu-form-item {
  margin-bottom: 12px;
}
.ive-filter-form .ivu-form-item-label:after {
  content: "：";
  display: inline-block;
  line-height: 1;
}
.ive-filter-form .ivu-form-item-label {
  padding-right: 0;
}
.ive-filter-form .button-wrapper {
  display: inline-block;
}

/* 编辑表单 */
.ive-edit-form {
  margin-right: 1em;
}
.ive-edit-form .hide {
  display: none;
}
.ive-edit-form .toggle-button {
  text-align: center;
  cursor: pointer;
}
.ive-edit-form .toggle-button:hover {
  color: #57a3f3;
}
.ive-edit-form .hidePart-wrapper {
  display: none;
}
.ive-edit-form .hidePart-wrapper.show {
  display: block;
}
.ive-edit-form .ivu-form-item-label:after {
  content: "：";
  display: inline-block;
  line-height: 1;
}
.ive-edit-form .ivu-form-item-label {
  padding-right: 0;
}
.ive-edit-form .ivu-form-item-content {
  display: flex;
  align-items: center;
}
.ive-edit-form .ivu-input-number {
  min-width: 50%;
}
/* form-item */
.ive-form-item:last-child {
  margin-bottom: 4px;
}
.ive-form-item .inline-tip {
  color: #858585;
  margin-left: 5px;
  white-space: nowrap;
}
/* ive-input-slot */
.ivu-input-group-append .ivu-btn,
.ivu-input-group-prepend .ivu-btn {
  box-shadow: none;
}

/* 提示图标 */
.ive-tooltip {
  margin-left: 5px;
  font-size: 16px;
  color: #0e72db;
  cursor: pointer;
}
.ive-tooltip .ivu-tooltip-popper {
  transform: translateY(8px);
}
.ive-filter-form .ive-tooltip {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  z-index: 1;
}

/* 模态框 */
.ive-edit-modal.loading .ivu-modal-content .ivu-modal-body {
  overflow: hidden;
}
.ive-edit-modal .ivu-modal {
  top: 10vh;
}
.ive-edit-modal .ivu-modal-content {
  max-height: 80vh;
  display: flex;
  flex-direction: column;
}
.ive-edit-modal .ivu-modal-content .ivu-modal-body {
  position: relative;
  overflow: auto;
}
.ive-edit-modal .ivu-modal-footer {
  text-align: center;
}
.ive-edit-modal .ivu-modal-footer button {
  font-size: 16px;
}

/* 加载圈 */
.ive-spin {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: hsla(0, 50%, 100%, 0.9);
}

/* 表格 */
.ive-table .ivu-btn {
  margin-right: 5px;
}
.ive-table .ivu-btn:last-child {
  margin-right: 0;
}
.ive-table .top-button-wrapper {
  padding: 5px 10px;
  background-color: #f5f7f9;
}
.ive-table .ivu-btn a {
  color: #ffffff;
}

/* 确认弹窗 */
.ivu-modal-confirm-body b {
  margin: 5px;
}

/* 导入数据弹窗 */
.ive-import-modal .ivu-modal-footer {
  text-align: center;
}
.ive-import-modal .file-wrapper {
  line-height: 24px;
}
.ive-import-modal .file-wrapper .delete {
  float: right;
}

/* 无数据 */
.ive-no-data {
  color: #aaa;
}

/* 上传文件 */
.ive-upload .imgList {
  display: flex;
}
.ive-upload .imgList li {
  display: flex;
  margin-left: 5px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.ive-upload .imgList li img {
  max-width: 300px;
  max-height: 80px;
}
.ive-upload .imgList li .cover {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}
.ive-upload .imgList li:hover .cover {
  display: flex;
}
.ive-upload .imgList li .cover i {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin: 0 2px;
}

/* 右键菜单 */
.ctx-menu.ctx-menu-left > li > a {
  display: block;
  padding: 0.2rem 1rem;
  color: #373a3c;
  white-space: nowrap;
}
.ctx-menu.ctx-menu-left > li.disabled > a {
  cursor: not-allowed;
  color: #818a91;
}
.ctx-menu.ctx-menu-left > li > a:hover,
.ctx-menu.ctx-menu-left > li > a:focus {
  background-color: #f2f2f2;
}
.ctx-menu.ctx-menu-left > li.disabled > a:hover {
  background-color: #fff;
}

/* 相册预览 */
/* iview */
.album-modal .ivu-modal-close {
  z-index: 2;
}
.album-modal .ivu-modal-close i {
  color: #fff;
}
.album-modal .ivu-modal-body {
  padding: 0;
}
.album-modal .content-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.album-modal .content-wrapper .title {
  line-height: 46px;
  text-indent: 40px;
  background: #515a6e;
  color: #fff;
  position: relative;
  z-index: 1;
}
.album-modal .content-wrapper .title .rotate-wrapper i {
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}
.album-modal .content-wrapper .preview-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 20px;
  border: 5px solid #ccc;
  padding: 10px;
  overflow: hidden;
}
.album-modal .content-wrapper .preview-wrapper i {
  position: relative;
  font-size: 40px;
  background: #fff;
  border-radius: 4px;
  margin: 10px;
  z-index: 1;
  opacity: .5;
  cursor: pointer;
}
.album-modal .content-wrapper .preview-wrapper i:hover {
 opacity: 1;
}
.album-modal .content-wrapper .preview-wrapper .img-wrapper {
  flex: 1;
  height: 100%;
  position: relative;
}
.album-modal .content-wrapper .preview-wrapper .img-wrapper img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-user-drag: none;
  user-select: none;
}
.album-modal .content-wrapper #imgList-wrapper {
  flex: 0 0 120px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background: #515a6e;
}
.album-modal .content-wrapper #imgList-wrapper i {
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}
.album-modal .content-wrapper #imgList-wrapper .inner-wrapper {
  flex: 1;
  height: 80px;
  width: 100%;
  overflow: hidden;
  margin: 0 10px;
  position: relative;
}
.album-modal .content-wrapper #imgList-wrapper .inner-wrapper ul {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  transition: all .3s;
  user-select: none;
  height: 80px;
}
.album-modal .content-wrapper #imgList-wrapper .inner-wrapper ul li {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  cursor: pointer;
  transition: all .3s;
}
.album-modal .content-wrapper #imgList-wrapper .inner-wrapper ul li:last-child {
  margin-right: 0;
}
.album-modal .content-wrapper #imgList-wrapper .inner-wrapper ul li.active {
  border: 5px solid #000;
}
.album-modal .content-wrapper #imgList-wrapper .inner-wrapper ul li span.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: #fff;
  padding: 0 5px;
  border-radius: 50%;
  font-weight: bold;
  border: 1px solid #000;
}
.album-modal .content-wrapper #imgList-wrapper .inner-wrapper ul li img {
  width: 100%;
  height: 100%;
}
